.card {
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(52, 52, 52);
  border-radius: 10px;
  padding: 1rem;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.card:hover {
  transform: scale(1.03);
}

.card:active {
  transform: scale(0.95);
}

.card h3 {
  height: 11%;
  margin-top: 5px;
  margin-bottom: 5px;
  color: darkblue;
}

.card p {
  margin: 0.25rem;
  overflow: hidden;
  white-space: nowrap;
  line-height: 2rem;
}

.card img {
  width: inherit;
  height: 300px;
  margin: 8px 0 0 0;
}

.card a {
  background-color: #0077cc;
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  padding: 10px;
  border-radius: 4px;
  margin-top: 10px;
}

.card a:hover {
  background-color: #0066b2;
}
